*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 400px;
$layout_bp_desktop: 800px;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}
$primary-color: rgb(11, 147, 151);
%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%column {
  display: flex;
  flex-direction: column;
}

