@import "./styles/variables.scss";
.App {
  text-align: center;
  height: 4rem;
  background-color: black;
  font-size: small;

  @include desktop {
    height: 2.75rem;
  }
  &__header {
    color: white;
    margin-top: 0rem;
    justify-content: center;
    padding-top: 0.75rem;
  }

  &__main {
    @include desktop {
      display: flex;
      flex-direction: column;
      padding: 2.75rem;
    }
    &--introduction {
      flex-direction: column;

      @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      &-text {
        border: 0.563rem solid #aad7da;
        border-radius: 1.5rem;
        padding: 0.9rem;
        margin: 0.9rem;
        height: fit-content;
        margin-top: 2.25rem;

        @include desktop {
          margin: 0rem;
          width: 30.5rem;
          height: fit-content;
          margin-top: 3.32rem;
          font-size: small;
        }
      }
      &-img {
        width: 91%;
        border-radius: 0.3rem;
        @include desktop {
          width: 38%;
          margin-left: 4.5rem;
        }
      }
    }
  }

  .drag-n-drop {
    margin-top: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 34rem);
    align-items: start;
    justify-content: center;
    @include desktop {
      grid-template-columns: repeat(auto-fill, 16.87rem);
    }
  }

  .dnd-group {
    background-color: #4e7a87;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
  .dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 6.25rem;
    background-color: #aad7da;
    border-radius: 0.3rem;
    color: #282c34;
    // font-size: small;
  }
  .dnd-item:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
  .dnd-item * {
    margin: 0rem;
    font-size: 1.2rem;
  }
  .group-title {
    padding: 0.62rem 0rem 0.62rem 0rem;
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
    font-weight: bold;
    height: 3.5rem;
  }
  .current {
    background-color: black;
  }
}
